<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <div *ngIf="afAuth.user | async as user; else showLogin">
        Hello: {{ (item | async)?.email }}
    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button (click)="presentModal()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Task App</ion-card-subtitle>
        <ion-card-title>Welcome to my lil task app</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>To Do:</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let task of tasks | async | datefilter">
          <ion-label text-wrap>
            {{ task.name }} <br> {{ task.details }}
          </ion-label>
      </ion-item>
    </ion-list>
        <button (click)="logout()">Logout</button>
      </div>
      <ng-template #showLogin>
        <p>Please login.</p>
        <button (click)="login()">Login with Google</button>
      </ng-template>
</ion-content>
