<ion-header>
    <ion-toolbar>
        <ion-title>Add a Task</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form id="taskForm">
        <ion-list>
            <ion-item>
                <ion-label position="stacked">Task Name</ion-label>
                <ion-input [(ngModel)]="todo.taskName" name="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Task Details</ion-label>
                <ion-textarea rows="5" [(ngModel)]="todo.taskDetails" name="details"></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Due Date</ion-label>
                <ion-datetime display-format="MMM DD, YYYY HH:mm" [(ngModel)]="todo.dueDate" name="dueDate"></ion-datetime>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="secondary">
            <ion-button (click)="addTask()" color="primary">Add</ion-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button color="dark">Cancel</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>